* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: url('./images/galaxy.gif');
    background-size: cover;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

.data__container {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
}

.heading {
    margin: 1em;
    text-align: center;
}

.inp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

#mass {
    margin: 5px;
    padding: 0.5em;
    max-width: 30%;
    background-color: #fff;
}

#selectedPlanet {
    margin: 5px;
    padding: 0.5em;
    cursor: pointer;
    width: 10vw;
    background-color: #fff;
}

.opt {
    background-color: aqua;
}

.btn {
    margin: 5px;
    padding: 0.5em;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(106, 109, 112, 0.5);
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(136, 148, 163, 0.5);
}

.block {
    display: block;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    background-color: rgba(58, 59, 60, 0.5);
}

.image {
    opacity: 1;
    padding: 30px;
}


img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.planet {
    font-weight:bold;
}

.description {
    display: flex;
    width: 100%;
 
    margin: 0 auto;
    padding: 5rem;
    background-color: rgba(58, 59, 60, 0.5);
    text-align: center;
    font-size: x-large;
    flex-direction: column;
    justify-content: center;
    
}

.circle {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(101, 106, 110, 0.5);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 10px auto;

}

footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    .data__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    
}

/* ========== Media Queries (Small Devices) ============= */ 

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-top: 2rem;
    }
    
}
